/* Style for entire page */
body {
  overflow-x: hidden;
}

/* Style for search button */
.my-search-bar {
  background-color: rgb(248, 249, 250);
  padding-bottom: 25px;
}

/* Style for bg light */
.d-flex {
  margin-left: 20px;
  /* Set search bar width */
  width: 400px;
}

/* Menu Container */
/* .menu-container {
  background-color: white !important;
} */

/* Menu Item */
.menu-item {
  font-size: 20px;
  /* Set color to text */
  color: black;
}

/* Menu Item Anchor Style */
.menu-anchor-item {
  /* Remove underline from anchor */
  text-decoration: none;
  color: rgb(27, 27, 27);
}

/* Menu Item Anchor Style on Hover */
.menu-anchor-item:hover {
  color: rgb(51, 50, 50);
}

/* Style for current page anchor */
.current-page-item {
  margin: auto;

  /* Set color to blue */
  color: black;
  font-weight: bold;
}

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: #0077ff;

  /* Create the gradient. */
  background-image: linear-gradient(90deg, #00ff88, #0066ff, #0077ff, #0000FF);

  /* Set the background size and repeat properties. */
  /* background-size: 100%; */
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-simple-animation-rev 1.25s ease forwards;
}

.gradient-text:hover {
  animation: rainbow-text-simple-animation 1.25s ease-in forwards;
}


/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }

  40% {
    background-size: 650%;
  }

  100% {
    background-size: 100%;
  }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }

  80% {
    background-size: 650%;
  }

  100% {
    background-size: 650%;
  }
}

/* Style for page-content */
.page-content {
  font-size: 6em;
}

.header-text {
  padding-bottom: 50px;
}

/* If screen is bigger than 1200px  */
@media (min-width: 1200px) {

  body {
    background: url(Images/Cover.png) no-repeat;
    position: absolute;
    background-size: cover;
    bottom: 0px;
    height: 100%;
  }

  .logo-container {
    width: 380px;
    height: 400px;
    background-color: red;
  }

  .logo-image {
    width: 380px;
    height: 400px;
    object-fit: cover;
  }

  /* Style for Content Container */
  .content-container {
    text-align: left;
    top: 0px;
    margin-left: 25px;
    width: 38%;
    padding-bottom: 20px;
  }

  .inner-content-text {}
}

/* If screen is smaller than 1200px  */
@media only screen and (max-width: 1200px) {
  body {
    background: no-repeat;
  }

  .content-container {
    text-align: center;
    top: 0px;
    width: fit-content;
    padding-bottom: 100px;
    justify-content: center;
  }

  .header-content-text {
    margin-top: 0;
    padding: 10px;
    margin: auto;
    width: 100%;
  }

  .logo-container {
    width: 100%;
    height: 400px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 500px;
  }

  .logo-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: flex;
    justify-content: center;
  }

  .inner-content-text {
    padding-top: 50px;
    margin: auto;
    width: 90%;
  }
}
